@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@400;600&family=Rubik+Moonrocks&display=swap');

:root {
    --primary-color: #fcd34d;
  }


  body {
    font-family: 'Edu QLD Beginner', cursive;
    margin: 0%;
  }

  .navigation{
    background-color: #fcd34d;
    height: 100px;
    font-family: 'Rubik Moonrocks', cursive;
    
  }
  .navigation .heading{
    margin-top: 0px;
    text-align: center;
    padding: 2rem 1rem;
    width: 80%;
    font-size: 50px;
    margin-left: 80px;
  }


  #input{
    padding:1rem ;
    margin: 2rem 15rem;
    width: 50%;
    border-width: 3px;
    border-color: black;
    font-size:25px;
    
  }

  #output{
    overflow: scroll;
    border: 1px solid black;
    height: 20vh;
    margin: 1rem 15rem ;
    width: 50%;
    padding: 1rem;
    border-width: 3px;
    font-size: 25px;

  }

  #button{
    margin-left: 20rem ;
    border: 5px solid black;
    background-color: #fcd34d;
    font-size: 30px;
    font-family: 'Edu QLD Beginner', cursive;

  }
  #outputMsg{
    margin: 2rem 15rem;
    font-family: 'Edu QLD Beginner', cursive;
    font-size: 40px;
  }

  .footer{
    background-color: #fcd34d;
    padding: 1rem;
  }
  .footer-heading{
    text-align: center;
  }

  .footer p{
    margin: 0%;
    font-size: 25px;
  }

  .leftbox .img1{
    float: left;
    height: 600px;
    width: 400px;
    border-radius: 2rem;
  }
  
  .rightbox .img2{
    float: right;
  }

  